*.py[cod]

log/
__pycache__/
.idea/

netAnalysis/.ipynb_checkpoints


netAnalysis/data/DREAM5/Network1/output/
netAnalysis/data/DREAM5/Network3/output/
netAnalysis/data/DREAM5/Network3_connected/output
netAnalysis/data/DREAM5/Network4/output/
netAnalysis/data/Roots_li/processed/output/
netAnalysis/data/Arabidopsis/grene/processed/output/

netAnalysis/data/Roots_li/TF-binding/dap_data_v4/
netAnalysis/data/secondaryWall/nature14099-s1/

netAnalysis/nohup.out
netAnalysis/paramsLog/paramFile*
netAnalysis/experiments/*.csv
netAnalysis/experiments/*.tsv


